[submodule "fei"]
	path = fei
	url = https://github.com/Turumbar451/fei.git
[submodule "POEMA"]
	path = POEMA
	url = https://github.com/Turumbar451/POEMA.git
[submodule "ecomerce"]
	path = ecomerce
	url = https://github.com/Turumbar451/ecomerce.git
